RedirectPermanent /biostat/computing/cluster.html http://www.sph.umich.edu/biostat/computing/cluster/index.html
RedirectPermanent /biostat/computing/cluster_quickstart.html http://www.sph.umich.edu/biostat/computing/cluster/quickstart.html
RedirectPermanent /biostat/computing/compute_servers.html http://www.sph.umich.edu/biostat/computing/compute_servers/index.html
RedirectPermanent /biostat/computing/compute_resource_for_biostatistics.pdf http://www.sph.umich.edu/biostat/computing/docs/compute_resource_for_biostatistics.pdf

<FilesMatch "Makefile">
  Order allow,deny
  Deny from all
</FilesMatch>
