Redirect permanent cluster.html /biostat/computing/cluster/index.html
Redirect permanent cluster_quickstart.html /biostat/computing/cluster/quickstart.html
Redirect permanent compute_servers.html /biostat/computing/compute_servers/index.html
