fieldset.cluster {
  font-weight: normal;
  margin-bottom: 30px;
  border: 1px solid #000000;
}

fieldset.cluster a.cluster_top {
  font-size: x-small;
  
}

fieldset.cluster legend {
  font-weight: bold;
  font-size: large;
}

fieldset.cluster h3,h4 {
  border-bottom: 1px solid #333366;
  margin-bottom: 0px;
}

td#content table {
  margin-top: 15px;
  border: solid 1px #000000;
  width: 100%;
  border-collapse: collapse;
  box-shadow: 1px 1px 3px rgba(0,0,0,.3);
}

td#content table thead {
  background-color: #cccccc;
}

td#content table tbody tr:nth-child(even) {
  background-color: #eef3f4;
}

td#content table thead th, td#content table tbody td {
  border: 1px solid #000000;
  padding: 2px;
}

pre {
  color: #000000;
  line-height: 1.1em;
  padding: 1em;
  border: 1px dashed #2F6FAB;
  background-color: #F9F9F9;
}

dl dt em {
  font-weight: normal;
}

dl dd {
  padding-bottom: 5px;
}

ol#toc {
  margin-bottom: 30px;
  background-color: #EEF3F4;
  border: 1px solid #000000;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 30%;
}

a.footnote {
  text-decoration: none;
}
