fieldset.cluster {
  font-weight: normal;
  margin-bottom: 30px;
  background-color: #EEF3F4;
  border: 1px solid #000000;
}

fieldset.cluster a.cluster_top {
  font-size: x-small;
  
}

fieldset.cluster legend {
  font-weight: bold;
  font-size: large;
}

fieldset.cluster h3,h4 {
  border-bottom: 1px solid #333366;
}

table.biostat {
  margin-top: 15px;
}

pre {
  color: #000000;
  line-height: 1.1em;
  padding: 1em;
  border: 1px dashed #2F6FAB;
  background-color: #F9F9F9;
}

dl dt em {
  font-weight: normal;
}

dl dd {
  padding-bottom: 5px;
}

ol#toc {
  margin-bottom: 30px;
  background-color: #EEF3F4;
  border: 1px solid #000000;
  padding-top: 10px;
  padding-bottom: 10px;
}
